/*
  Brand colors
    #39A4FC blue / primary
    #2182D5 blue darker / primary dark
    #56E6BF teal / alternate
    #33D5AE teal darker / alternate dark
    #FD684A red / error
    #FEDF52 yellow / warning
    #7F42FB purple / fun ;)
    #1A2634 dark / text
    #7c858d faded / secondary text
    #f5f5f5 light grey / borders
*/




/* ///////////////// */
  /* Resets */
/* ///////////////// */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #fff;
  color: #1A2634;
  font-family: sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}



/* ///////////////// */
  /* General */
/* ///////////////// */

.logo {
  margin-bottom: 1em;
  margin-right: 1em;
}

.app {
  height: 100%;
  padding: 2em;
  position: relative;
}

.main-container {
  display: flex;
  /* align-items: flex-start; */
}




/* ///////////////// */
  /* Mobile */
/* ///////////////// */

/* UpdateList */

.update-list {
  width: 100%;
}

.load-more {
  border: 1px solid #39A4FC;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: .2rem;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
}

.load-more::before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background: #39A4FC;
  z-index: -2;
}

.load-more:hover::before {
  background: green;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.load-more:focus::before {
  color: white;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

/* Update */

.update {
  border-radius: 0.5em;
  border: 2px solid #f5f5f5;
  font-size: 2rem;
  margin: 0.5em 0;
}

.update-contents {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 1em;
}

.update-text {
  margin: 0 2rem 1rem 0;
}

.update-image {
  height: 10rem;
  width: 10rem;
}

.update-info {
  background: #f5f5f5;
  border-radius: 0 0 .5em .5em;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: space-between;
  padding: 1em;
}

.update-analytics {
  display: flex;
  list-style-type: none;
  padding-left: 1em;
}

/* AnalyticsSummary */

.analytics {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 26rem;
}

.analytics-totals {
  font-size: 2.2rem;
  margin-right: 1rem;
}

.analytics__summary {
  color: #7c858d;
  font-size: 2rem;
  margin-right: 2rem;
}

.bi {
  color: #7c858d;
  margin-right: 1rem;
  font-size: 2rem;
}

.analytics-type {
  color: #1A2634;
  font-size: 2rem;
  margin-left: .3rem;
}

.analytics-posts {
  color: #33D5AE;
}

.analytics-retweets {
  color: #FEDF52;
}

.analytics-favorites {
  color: #7F42FB;
}

.analytics-clicks {
  color:#39A4FC;
}





/* ///////////////// */
  /* Tablet */
/* ///////////////// */

@media (min-width: 768px) { 

  .update-contents {
    flex-direction: row;
  }

  .update-text {
    margin-bottom: 0;
  }
  
  .update-info {
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: space-between;
    padding: 1em;
  }

  .analytics {
    margin-right: 1rem;
    max-width: 82%;
    top: 1em;
  }
}





/* ///////////////// */
  /* Desktop Small (1024 px) */
/* ///////////////// */

@media (min-width: 1024px) { 
  .app {
    max-width: 1000px;
    margin: auto;
  }

  .update {
    width: 80%;
  }

  .analytics {
    border: 2px solid #f5f5f5;
    border-radius: .5em;
    flex-direction: column;
    margin-right: 2rem;
    padding: 1em 2em 1em 1em;
    right: -2em;
    top: 5.3em;
  }

  .analytics-totals {
    font-size: 5em;
    font-weight: 800;
  }

  .analytics-type {
    display: block;
    font-weight: 400;
    margin-left: 0;
    margin-bottom: 2em;
  }
}




/* ///////////////// */
  /* Desktop Large */
/* ///////////////// */

@media (min-width: 1440px) { 
  .update {
    width: 100%;
  }

  .analytics {
    right: -16em;
    margin-right: 3rem;
    padding: 1em 3em 1em 1em;
  }
}